<br>

<div class="container">
  <div class="logo">
    <img src="../assets/currency.png" class="img mb-3">
    <h2 class="h2">Enter details to recover your password</h2>
  </div>
  <div class="form-container">
    <form [formGroup]="forgetPasswordForm">
      <div class="form-group">
        <label class="mb-1 required-label" for="firstName">First Name</label>
        <input type="text" tabindex="1" formControlName="firstName" class="form-input form-control  mb-4" required="" />
      </div>
      <div class="form-group">
        <label class="mb-1  required-label" for="userName">Username</label>
        <input type="text" formControlName="userName" class="form-input form-control mb-4" tabindex="2"
          required="required">
      </div>
      <div class="form-group">
        <label class="mb-1 required-label" for="mobileNumber">Registered Mobile number</label>
        <input type="text" tabindex="3" formControlName="mobileNumber" class="form-input form-control  mb-4" required="" />
      </div>
      <div class="buttons">
      <input type="button" tabindex="5" class="btn btn-success btn-block " value="Back to login" (click)="redirectToLogin()">
      <input type="button" tabindex="4" class="btn btn-success btn-block " value="Validate and reset password" (click)="validateDetails()">
    </div>
    </form>
  </div>
  <div class="form-container">
    <div class="signup-forgot">
      New here? <a href="/signup/" tabindex="6">Create an account</a>
    </div>
  </div>
</div>
