img{
    max-height: calc(70vh);
    max-width: calc(100vh);
}
.container {
    display: flex;
    width:60%;
    justify-content: space-between;
}

.form-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.image-container {
    flex: 1;
    max-width:40%;
    max-height: 20%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* To center the image horizontally */
}


.row {
    display: flex;
    gap: 10px;
    margin: 5px;
}

mat-form-field {
    width: 100%;
}

.action {
    padding: 0px 25px 20px;

    button {
        flex: 1;
    }
}
